{% load static %}
 <!DOCTYPE html>
<html>
    <head>
        <!-- Bootstrap alpha v4 -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

        <!-- CSS ACM -->
        <link rel="stylesheet" type="text/css" href="{% static 'instagram/css/general.css' %}" >
        <link rel="stylesheet" type="text/css" href="{% static 'instagram/css/index.css' %}" >

        <!-- Material Icon -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>
    <body>
        <center>
            <div class="card" style="width: 20rem;">
              <div class="card-block">
                <h4 class="card-title text-center">Instagram</h4>
                <h6 class="card-subtitle mb-2 text-muted text-center">Regístrate para ver fotos y vídeos de tus amigos.</h6>
                <form action='createUser' method='POST'>
                    {% csrf_token %}
                    <div class= "text-center">
                        <div class="form-group">
                            <input type='text' class="form-control" name='email' id='email' placeholder='Correo Electrónico' requrired>
                        </div>
                        <div class="form-group">
                            <input type='text' class="form-control" name='name' id='name' placeholder='Nombre Completo' required>
                        </div>
                        <div class="form-group">
                            <input type='text' class="form-control" name='nickName' id='nickName' placeholder='Nombre de Usuario' required>
                        </div>
                        <div class="form-group">
                            <input type='password' class="form-control" name='password' id='password' placeholder='Contraseña' required>
                        </div>
                        <button class="btn btn-primary">Registrarte</button>
                    </div>
                </form>
              </div>
            </div>
            <br>
            <div class="card" style="width: 20rem;">
              <div class="card-block">
                ¿Tienes una cuenta? <a href="/login" class="card-link"> Entrar</a>
              </div>
            </div>
        </center>
    </body>
</html>
