{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <!-- Bootstrap alpha v4 -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

        <!-- CSS ACM -->
        <link rel="stylesheet" type="text/css" href="{% static 'instagram/css/general.css' %}" >

        <!-- Material Icon -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <title>
            Instagram
        </title>
    </head>
    <body>
        <ul class="nav nav-pills nav-justified">
          <li  class="nav-item material-icons active"><a class="nav-link" href="{% url 'mainPage' %}">home</a></li>
          <li  class="nav-item material-icons active"><a class="nav-link" href="{% url 'search' %}">search</a></li>
          <li  class="nav-item material-icons active"><a class="nav-link" href="{% url 'uploadPhoto' %}">photo_camera</a></li>
          <li  class="nav-item material-icons active"><a class="nav-link"  href="#">favorite</a></li>
          <li  class="nav-item material-icons active"><a class="nav-link" href="{% url 'profile' %}">account_circle</a></li>
        </ul>
        <center>
            <div class="card" style="width: 20rem;">
              <div class="card-header">
                Nombre usuario
                hace cuanto se publico
              </div>

              <img class="card-img-top" src="{% static 'instagram/media/JuanPabloRN30-2-' %}" alt="Card image cap" >
              <div class="card-block">
                <h4 class="card-title"># Me gusta</h4>
                <h4 class="card-title">Nombre Usuario - Descripcion</h4>
                <!-- Si hay comentarios, mostrarlos -->
              </div>
              <div class="card-footer text-muted">
                <div class="input-group">
                  <span class="input-group-addon" id="basic-addon1"><i class="material-icons"><a href="#">favorite_border</a></i></span>
                  <input type="text" class="form-control" placeholder="Añade un comentario..." aria-describedby="basic-addon1">
                </div>
              </div>
            </div>
        </center>
    </body>

</html>
